* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../imagens/bg2.jpg) bottom center scroll;
  background-size: auto 100vh;
  background-attachment: fixed; /* aqui é opcional */
  font-family: Helvetica, sans-serif;
  height: 100vh;
  font-size: 12px;
}

/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* BreakingPoints */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #170420;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 15px 20px;
}

a {
  color: #ea1646;
  text-decoration: none;
}

a:hover {
  color: #ffe730;
}

.site-subtitle,
.site-title {
  color: #170420;
  text-align: center;
}

.site-title {
    font-size: 2em;
}

.site-subtitle {
  font-style: italic;
}

.img-portfolio {
  height: 180px;
  width: 180px;
}
